@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: rgba(0, 41, 128, 0.193);
  text-align: center;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgba(30, 40, 60, 0.961);
    }
  }
}
html {
  height: 100%;
}
.container {
  margin: auto;
}

input {
  text-align: center;
}